* {
  box-sizing: border-box;
}
body {
  background-color: rgb(53, 53, 53);  
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}

.slider {
  overflow: hidden;
}

.slider__img {
  display: flex;
  width: 500%;
}

.slider__text {
  display: flex;
  width: 667%;
}

.slides__img,
.slides__text {
  width: 100%;
}

.slides__img {
  display: flex;
  padding: 2em 0;
  transition: 1s all;
}

.slides__text {
  transition: 1s all;
}

.slides__text p {
  width: 50%;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0;
}

.slides__img img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.slider input {
  display: none;
}

.slider__label {
  display: flex;
  padding-bottom: 2em;
}

.slider__label label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(84, 138, 255);
  cursor: pointer;
  margin: 5px;
}

.slider__label label:hover {
  background: #fff;
}

#radio1:checked ~ .slider__footer .slider__label label:nth-child(1),
#radio2:checked ~ .slider__footer .slider__label label:nth-child(2),
#radio3:checked ~ .slider__footer .slider__label label:nth-child(3),
#radio4:checked ~ .slider__footer .slider__label label:nth-child(4),
#radio5:checked ~ .slider__footer .slider__label label:nth-child(5) {
  background: inherit;
  border: 2px solid rgb(84, 138, 255);
}

#radio1:checked ~ .slider__footer .slider__label label:nth-child(1):hover,
#radio2:checked ~ .slider__footer .slider__label label:nth-child(2):hover,
#radio3:checked ~ .slider__footer .slider__label label:nth-child(3):hover,
#radio4:checked ~ .slider__footer .slider__label label:nth-child(4):hover,
#radio5:checked ~ .slider__footer .slider__label label:nth-child(5):hover {
  background: inherit;
  border: 2px solid #fff;
}

.slider-text__wrapper {
  width: 75%;
  overflow: hidden;
}

#radio1:checked ~ .slider__img .slides__img,
#radio1:checked
  ~ .slider__footer
  .slider-text__wrapper
  .slider__text
  .slides__text {
  transform: translateX(0);
}

#radio2:checked ~ .slider__img .slides__img,
#radio2:checked
  ~ .slider__footer
  .slider-text__wrapper
  .slider__text
  .slides__text {
  transform: translateX(-100%);
}

#radio3:checked ~ .slider__img .slides__img,
#radio3:checked
  ~ .slider__footer
  .slider-text__wrapper
  .slider__text
  .slides__text {
  transform: translateX(-200%);
}

#radio4:checked ~ .slider__img .slides__img,
#radio4:checked
  ~ .slider__footer
  .slider-text__wrapper
  .slider__text
  .slides__text {
  transform: translateX(-300%);
}

#radio5:checked ~ .slider__img .slides__img,
#radio5:checked
  ~ .slider__footer
  .slider-text__wrapper
  .slider__text
  .slides__text {
  transform: translateX(-400%);
}

.slider__footer {
  display: flex;
}

@media (max-width: 768px) {
  .slider__footer {
    flex-direction: column-reverse;
  }

  .slider-text__wrapper {
    width: 100%;
  }

  .slides__text p {
    width: 70%;
  }

  .slider__label {
    justify-content: center;
  }
}
