body {
    background-color: rgb(53, 53, 53);
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10%;
}

.slider__img,
.slider__text {
    display: flex;
    width: 500%;
}

.slides__img,
.slides__text {
    width: 100%;
}

.slides__img {
    display: flex;
}

.slides__img img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}